
<div [formGroup]="formGroup">
<mat-form-field class="full-width">
    <input matInput [placeholder]="titulo" [formControlName]="controlName">
    <mat-error *ngIf="validacao.validarErros(formControl, 'required')">O nome do filme é obrigatório</mat-error>
    <mat-error *ngIf="validacao.validarErros(formControl, 'minlength')">Esse campo deve ter no mínimo 2 caracteres</mat-error>
    <mat-error *ngIf="validacao.validarErros(formControl, 'maxlength')">Esse campo deve ter no máximo 256 caracteres</mat-error>
</mat-form-field>
</div>